name: Sync to Azure DevOps
on: [push]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Push to Azure DevOps
        run: |
          git remote add azure https://tndnirmalz@gmail.com@dev.azure.com/FutureFrontImmigrationGo/futurefrontimmigrationgo/_git/next-go-api
          git push azure master --force
