name: Sync to Azure DevOps
on: [push]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Push to Azure DevOps
        run: |
           git remote set-url azure git@ssh.dev.azure.com:v3/FutureFrontImmigrationGo/futurefrontimmigrationgo/next-go-api
=          git push azure master --force
